body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    background: #000;
}

/* GIF BACKGROUND */
.four_zero_four_bg {
    background-image: url("/admin/assets/images/icons/bg.gif");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contant_box_404 {
    text-align: center;
    color: #fff;
}

.link_404 {
    color: #fff;
    padding: 10px 20px;
    background: #ff4c4c;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
