body {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
    overflow: hidden;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url('assets/images/icons/bg.gif');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.contant_box_404 h3 {
    font-size: 40px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.contant_box_404 {
    margin-top: -50px;
}
